@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

/* Home page */
#header {
  background: #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbar {
  width: 35%;
}

.navbar .navlinks {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.navbar .icon {
  list-style: none;
  padding: 0;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffff;
  padding: 20px 80px;
  width: 100%;
  height: 10vh;
}

footer h2 {
  background-image: url(./image/pexels.jpeg);
  background-size: contain;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: -10px;
  font-size: 50px;
  cursor: pointer;
}

.header2 h2 {
  background-image: url(./image/pexels.jpeg);
  background-size: contain;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
}

.header2 #navbar2 {
  display: flex;
  align-items: center;
}

.header2 #navbar2 li {
  list-style: none;
  padding: 0 20px;
}

footer a {
  text-decoration: none;
  font-size: 15px;
  color: #3e3e3e;
}

.black,
.black a {
  background-color: #2e2e2e;
  color: #f2f2f2;
}

footer a:hover {
  color: #ec5242;
}

.header2 #navbar2 li a {
  text-decoration: none;
}

.header2 #navbar2 li a:hover {
  color: #ec5242;
}

.header3 {
  display: none;
}

#hero {
  background-image: url(./image/background.png);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 200px;
  justify-content: center;
}

#hero h4 {
  font-size: 20px;
  color: #ec5242;
}

#hero h2 {
  font-size: 70px;
  background-image: url(./image/firewallpaper.jpeg);
  background-size: contain;
  -webkit-background-clip: text;
  color: transparent;
}

#hero button {
  border-radius: 50%;
  padding: 30px 50px;
  margin-top: 20px;
  border: 2px solid #ec5242;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s ease;
}

#hero button:hover {
  background-color: #ec5242;
  color: #fff;
}

#feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url(./image/feature.jpg);
  padding: 50px;
}

#feature .fe-box {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: #3d4047;
  margin: 15px 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#feature .fe-box:hover {
  border: 1px solid #c0c0c1;
}

.product-img img {
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: contain;
}

footer img:hover {
  border: 5px dotted #ec5242;
  border-radius: 5px;
}

#feature .fe-box img {
  width: 50%;
}

#feature .fe-box h6 {
  color: #ec5242;
  margin-bottom: 5px;
}

footer p {
  font-size: 15px;
  text-align: justify;
}

.review-card p {
  margin: 15px;
  font-size: 16px;
}

.product-description p {
  font-size: 16px;
  color: #3d4047;
}

footer p:hover {
  color: #ec5242;
}

#about-page p {
  text-align: center;
  font-size: 16px;
}

#review p {
  padding-top: 20px;
  font-size: 16px;
}

#feature .fe-box p {
  color: #c0c0c1;
  font-size: 10px;
}

#product {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 90px;
}

#featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

#product .text {
  padding-top: 50px;
}

#banner h2 {
  color: #b3b3b3;
  font-size: 30px;
  padding: 10px 0;
}

#product .text h2 {
  font-size: 30px;
}

#product .text p {
  padding-bottom: 50px;
}

.product-description {
  text-align: start;
}

.product-description span {
  font-weight: 600;
}

.product-description h5 {
  color: #ec5242;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #424146;
  width: 100%;
  height: 40vh;
}

#banner h3 {
  color: #b3b3b3;
  font-size: 50px;
  margin-top: 20px;
}

#banner div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

#banner div * {
  width: 30%;
  filter: grayscale(100%) contrast(30%);
  transition: filter 1s 1ms;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f2f2f2;
  padding: 50px;
  gap: 30px;
}

/* About page */
#about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px;
}

#about-page h3 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #424146;
}

#review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 0 40px 0 #b3b3b3;
}

#review h3 {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  color: #424146;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding: 30px;
}

.review-card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 230px;
  color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;
  justify-content: center;
}

#card1 {
  background-image: linear-gradient(to bottom, rgba(236, 82, 66, 0.8) 20%, rgba(236, 82, 66, 0.8) 70%), url(./image/Jane.jpg);
}

#card2 {
  background-image: linear-gradient(to bottom, rgba(236, 82, 66, 0.8) 20%, rgba(236, 82, 66, 0.8) 70%), url(./image/Joeseph.jpg);
}

/* media queries */
@media only screen and (max-width: 768px) {
  #header,
  .header2 {
    display: none;
  }

  .head {
    background-image: url(./image/background.png);
    position: relative;
  }

  .header3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    position: absolute;
  }

  .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 25px;
    position: absolute;
    left: 20px;
  }

  .x-btn {
    display: none;
  }

  .x-btn.show {
    display: block;
    z-index: 100;
    left: 288px;
    color: white;
    position: fixed;
  }

  #navbar3 {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  #navbar3 li {
    padding: 5px 0;
    font-size: 2rem;
  }

  .nav-list {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background-color: #ec5242;
    color: #fff;
    opacity: 1;
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateX(100%);
    position: relative;
  }

  .active .nav-list {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
    width: 100vw;
    position: fixed;
  }

  .active #navbar .mobile .close-btn {
    display: block;
    margin-left: 254px;
    background-color: #ec5242;
    border-radius: 30px;
    color: black;
  }

  #hero {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 60vh;
    top: 0;
    z-index: 300;
  }

  #hero h4 {
    font-size: 16px;
  }

  footer h2 {
    font-size: 20px;
  }

  #hero h2 {
    font-size: 20px;
  }

  footer p {
    font-size: 10px;
  }

  .product-description p {
    font-size: 12px;
  }

  #hero p {
    font-size: 14px;
  }

  #hero button {
    align-self: center;
    padding: 15px 25px;
    font-size: 16px;
  }

  .hero-container {
    margin: 0 24px;
  }

  #feature {
    display: flex;
    flex-direction: column;
  }

  #feature .fe-box {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #3d4047;
    margin: 10px 5px;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #feature .fe-box img {
    width: 50px;
  }

  .fe-box > * {
    padding: 0 5px;
    text-align: left;
  }

  #review p {
    font-size: 16px;
    text-align: center;
  }

  #feature .fe-box p {
    font-size: 7px;
  }

  #featured {
    display: flex;
    flex-direction: column;
  }

  #banner {
    height: 20vh;
  }

  #banner h3 {
    font-size: 20px;
    margin-top: 5px;
  }

  #banner div {
    gap: 10px;
  }

  .review-container {
    display: flex;
    flex-direction: column;
  }

  .featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  .product-container > * {
    padding: 10px;
  }

  .product-description span {
    font-size: 16px;
  }

  .product-description h5 {
    font-size: 12px;
  }

  footer {
    padding: 30px;
    gap: 10px;
  }
}
